/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}


/* Root */

html {
    font-size:16px;
}


/* Body & Main  */

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ddd;
    background-image:url(../images/wrinkled-white-paper-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */






/* Imported Typefaces */

@font-face {
    font-family: 'josefinslab';
    src: url(../fonts/josefinslab-regular.ttf)format=('truetype');
    font-weight:normal;
    font-style:normal;
     
}
@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-regular.ttf); /*format=('truetype'); Not Working */
    font-weight:normal;
    font-style:normal;
}


/* Tyography Styles */

html {
    font-family: 'montserrat';
}

h1 {
    font-family: josefinslab;
    letter-spacing:0.125rem;
    font-size:3.75rem;
    margin:1.125rem;
    text-align: center;   
}

h2 {
    font-family: josefinslab;
    letter-spacing:0.125rem;
    font-size:1.5rem;
}

h2 + p {
    font-family: josefinslab;
    letter-spacing:0.125rem;
    font-size:1.5rem;
}

p {
    font-size:0.75rem;
    letter-spacing:0.031rem;
    word-spacing:0.125rem;
    text-indent:1.5rem;
  
}

li {
    font-size:0.75rem;
    letter-spacing:0.031rem;
    word-spacing:1.5rem;
    text-indent:1.5rem;
}

figcaption {
    font-size:0.75rem;
    margin-bottom:2rem;
}


/* Link Styling */

a {
    outline-style: none
}

a:link,
a:visited {
    color:#33658A
}

a:focus,
a:hover {
    text-decoration: none
}


/* List Styling */

ul {
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:0;
    margin-right:0;
    list-style-type:square;
}

ol {
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:0;
    margin-right:0;
    list-style-type:lowercase;
}

.long-list a:hover {
    transform:uppercase;
}


/* Navigation Menu */

nav {
    padding-left:0;
    margin-top:0.25rem;
    
}

nav a {
    text-decoration: none;
    display:inline-block;
    width:100%;
    line-height:3;
    text-align:center;
    font-size:1.125rem;
    margin-bottom:1.5rem;
    border:solid;
    width:0.063rem;
    color:#33658A
}

nav a:focus,
nav a:hover {
    color:#FFF;
    background-color:#33658A;
}

nav a:active {
    color:#FFF;
    background-color:#000;
}


/* Footer Style */

footer {
    text-align:center
}

/* Headings  */

h1 {
    text-transform: uppercase;
    font-size:6rem;
    margin: 0;
    letter-spacing: .5rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}

h2 {text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .25rem;
    margin: 0;
    color:darkred;
    text-shadow: .09375rem .09375rem .09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
    font-weight: normal;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .5rem;
    color:darkred;
    font-family: 'Alpha Slab One', Garamond, serif;
    font-size: 2rem;
    font-weight: normal;
    text-shadow: none;
    color: black;
    text-align: center;
}

h4 {text-transform: uppercase;
    margin: 0;
    color:darkred;
    font-family: 'Alpha Slab One', Garamond, serif;
    font-size: 1.5rem;
    letter-spacing: .25rem;
    padding-bottom: 1.125rem;
    font-weight: normal;
    text-align: center;
}

h5 {text-transform: uppercase;
    color:darkred;
    font-family: 'Alpha Slab One', Garamond, serif;
    font-size: 1rem;
    margin-top: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #333;
    color: #fff;
    font-weight: normal;
    text-align: center;
}


/* Section & Paragraph */

section {
    margin-top: 0.5rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
    text-align: left;
}


/* Image & Figure */

img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left:auto;
    max-width: 50rem;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    padding-top: 0.5rem;
    text-align: right;
}


/* Footer */

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 2rem;
    border-style: solid
    color: #333;

}
